
<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>Suunnistus</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
        <script src="controllers/routeController.js"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
         <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <script src="http://www.openlayers.org/api/OpenLayers.js"></script>
        <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
        <link rel="stylesheet" href="/resources/demos/style.css">
        <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
          <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

         <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  
       


        <script>
            var map1;
        </script>
        <style>   
            body {
                background-image: url("http://localhost:8080/WebApplication13/alku4.jpg");
                background-color: #cccccc;
                background-repeat: no-repeat;
                -webkit-background-size: cover;
                -moz-background-size: cover;
                -o-background-size: cover;
                background-size: cover;


            }
            span {
                font-size: 2.0em;
            }
        </style>
    </head>



    <body >

        <div class="container" ng-app="myApp" class="selectpicker" ng-controller="myCtrl"  >

            <nav class="navbar navbar-default">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <a class="navbar-brand" href="#">OrientUIADMIN</a>
                    </div>
                    <ul class="nav navbar-nav">
                        <li class="active" ><a href="#" ng-click='go2()'>Näytä rata</a></li>
                        <li class="active" ><a href="#" ng-click='go1()'>Lisää uusi rasti</a></li>
                        <li class="active" ><a href="#" ng-click='go()'>Lisää uusi rata</a></li>




                    </ul>
                </div>
            </nav>
            <div>
                <div class="jumbotron" ng-show="visible2">
                    <h1>Näytä Radat</h1>



                    <div class="container">
                      
                           <div class="modal fade" id="removeTrack" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header" style="background-color: navy; color: white">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title" style="background-color: navy">Radan poisto!</h4>
        </div>
        <div class="modal-body">
          <h2>poista rata  <span  style="color: green" class="glyphicon glyphicon-ok"></span> </h2>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
        </div>
      </div>
      
    </div>
  </div>
                        
                        <object style="width:100%;height:400px;" name="foo" type="text/html" data="ShowRoute.html"></object>
                        <div  class="selectpicker"  > 



                            <div ng-repeat="item in data">

                                <a style="width: 1000px" class="btn btn-info" ng-click="deleteRoute(item.ID)" role="button">   Rata  {{item.name}} pituus={{item.length}} km</a>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="jumbotron" ng-show="visible">


                    <script>

                    </script>
                    <div   style="background-color:white">
                        <div id="dialog"     style="display:none"  title="Radan luonti">
                            <p>Rata on luotu!    <span class="glyphicon glyphicon-alert"></span></p>
                            <button class="btn btn-primary">OK</button>
                        </div>

                        <h4>Luo rata</h4>
                        
                        <div id="myModal1" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header"  style="background-color: navy; color: white">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Radan luonti</h4>
      </div>
      <div class="modal-body">
       <h2>Radan luonti onnistui!  <span  style="color: green" class="glyphicon glyphicon-ok"></span> </h2>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>
                        
                        <label for="name">Radan Nimi</label>
                        <input type="text" class="form-control" id="name"    ng-model="routeName"/>
                        <label for="name">Radan Pituus</label>
                        <input type="text" class="form-control" id="name" ng-model="routeLength"
                               />
                        <button class="btn btn-primary" ng-click="choose1()" data-toggle="modal" data-target="#myModal1">  <span class="	glyphicon glyphicon-plus"></span>Luo uusi rata</button>
                        <p></p>
                    </div>   
              
                </div>

                <div  class="jumbotron"   ng-show="visible1">
             
                    <h1>Luo uusi rasti</h1>


                    <object style="width:100%;height:400px;" name="foo" type="text/html" data="Routeinformation.html"></object>
                    <h1>Hae rasti</h1>
                    <div class="container">
                        <div  ng-show="1 === 1"> 

                            <select  class="form-control" ng-model="selected"  ng-change="changedValue(selected)">
                                <option ng-repeat="item in data"  value="{{item.ID}}">{{item.name}}</option>
                            </select>

                            <button class="btn btn-primary" ng-click="choose()">  <span class="glyphicon glyphicon-search"></span>Test</button>


                            <div ng-repeat="item1 in dataCheck">

                                <p></p>
                                <div class="media">


                                    <div class="media-left">

                                        <div id="ma111p">
                                            <div id="map-canva222s">


                                                <img src="http://maps.googleapis.com/maps/api/staticmap?center={{item1.lat}},{{item1.lon}}&zoom=17&size=300x300&maptype=satellite&markers={{item1.lat}},{{item1.lon}}&sensor=false&key=AIzaSyBuymChhXj6fbehlkw7v7UYa2bVXn82qT0"/>

                                            </div>
                                        </div>




                                    </div>
                                    <div class="media-body" style="width: 100%;background-color: white">

                                        <h2  class="btn btn-primary" style="width: 100%;margin-top: 0%">{{item1.name}}</h2>
                                        <p>Nimi= {{item1.name}}</p>
                                        <p>määre= {{item1.desc1}}</p>
                                        <p>&nbsp;</p>

                                        <p>&nbsp;</p>
                                        <p>&nbsp;</p>


                                        <button  class="btn btn-danger" style="width:100px" ng-click='deleteValue(item1.id)'> <span class="glyphicon glyphicon-trash"></span> </button>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>





            </div>
        </div>
    </body>
</html>
