<!DOCTYPE html>
<html>
    <head>
                     <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
          <script src="controllers/checkController.js"></script>
               <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

         <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  
  <script src="http://www.openlayers.org/api/OpenLayers.js"></script>

    
    


        
    </head>
    <body>
     <div id="dialog1"     style="display:none"  title="Rastin luonti">
                        <p>Rasti on luotu!    <span class="glyphicon glyphicon-alert"></span></p>
                        <button class="btn btn-primary">OK</button>
                    </div>

<div class="container" ng-app="myApp1" class="selectpicker" ng-controller="myCtrl1"  >
      
        
    <div class="media">
  <div class="media-left" ng-click="updateMapCoordinates()">
       

      
        <div id="mapdiv" style="width:400px;height:400px;" ></div>

        <script src="http://www.openlayers.org/api/OpenLayers.js"></script>

  <script>

        

    
    
 


  </script>
  </div>
  <div class="media-body">
    <h4 class="media-heading">Luo rasti</h4>
   <div class="form-group">
       <div class="btn-group">
  <button type="button" class="{{style2}}">Aseta Paikka</button>
  <button type="button" class="{{style0}}">Anna tiedot</button>
    <button type="button" class="{{style1}}">valitse rata</button>

</div>
       <p></p>
       
  <label for="name">Rastin nimi</label>
  <input type="text" class="form-control" id="name"  ng-change="updateText() " ng-model="name">
  
    <label for="desc">Rastin määre1</label>
  <input type="text" class="form-control" id="desc" ng-model="desc">
  <p><label for="desc">Valitse rata, johon rasti liitetään</label><p>
      
      
           <select class="selectpicker" data-live-search="true"   ng-change="update()" ng-model="selected10">
               <option value="{{item.ID}}" ng-repeat="item in routes" >{{item.name}}</option  >
</select>
   </div>
 
    
       <div class="modal fade" id="place" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header" style="background-color: navy; color: white">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title" style="background-color: navy">Paikan vaihto</h4>
        </div>
        <div class="modal-body">
          <h2>Paikan vaihto onnistui   <span  style="color: green" class="glyphicon glyphicon-ok"></span> </h2>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
        </div>
      </div>
      
    </div>
  </div>
    
    
    <div class="modal fade" id="error" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header" style="background-color: navy; color: white">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title" style="background-color: navy">Rastin lisäys rataan</h4>
        </div>
        <div class="modal-body">
          <h2>Rastin lisäys epäonnistui!    <span  style="color: red" class="glyphicon glyphicon-remove"></span> </h2>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
        </div>
      </div>
      
    </div>
  </div>
    
       <div class="modal fade" id="success" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header" style="background-color: navy; color: white">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title" style="background-color: navy">Rastin lisäys rataan</h4>
        </div>
        <div class="modal-body">
          <h2>Rastin lisäys onnistui!    <span  style="color: green" class="glyphicon glyphicon-ok"></span> </h2>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
        </div>
      </div>
      
    </div>
  </div>
    
    
    
 <button class="btn-primary"  style="width: 100;height: 30px" ng-click="go2()">Luo rasti</button>
  </div>
</div>


<script>
var lat=0;
var lon=0;

    
    var map
function myMap() {
        if (navigator.geolocation) {
        navigator.geolocation.getCurrentPosition(showPosition);
    } else {

    }

function showPosition(position) {
    lat=position.coords.latitude;
    lon=position.coords.longitude;
    var mapOptions = {
    center: new google.maps.LatLng(lat,lon),
    zoom: 17,
    mapTypeId: google.maps.MapTypeId.HYBRID
}
 
 map = new google.maps.Map(document.getElementById("map"), mapOptions);
;


}

//map.getCenter()
}
</script>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAbl5BjpA2ElzhRIGCrH3UgAwDtYke6ahg&callback=myMap"></script>
<!--
To use this code on your website, get a free API key from Google.
Read more at: https://www.w3schools.com/graphics/google_maps_basic.asp
-->


<p>{{test}}</p>
</div>

</body>
</html>
