<!DOCTYPE html>
<html>
    <head>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
        <script src="controllers/drawController.js"></script> 
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    </head>
    <body>

        <h1>valitse piirrett&auml;v&auml; rata</h1>
        <div  ng-app="myApp211" ng-controller="draw"  >

            <div class="media">
                <div class="media-left">
                    <div id="googleMap" style="width:400px;height:400px;"></div>
                </div>
                <div class="media-body">
                    <h4 class="media-heading">Valitse n&auml;ytett&auml;v&auml; rata</h4>
                    
                                <select  class="form-control"  ng-model="selected2">
<option ng-repeat="item in routeData"  value="{{item.ID}}">{{item.name}}</option>
</select>
                   
                    
                       <button class="btn btn-primary" ng-click="drawPath()">  <span class="	glyphicon glyphicon-plus"></span>Piirrä rata</button>
                </div>
            </div>
        </div>
        <script>
            function myMap() {
                var mapProp = {
                    center: new google.maps.LatLng(51.508742, -0.120850),
                    zoom: 15
                };
                var map = new google.maps.Map(document.getElementById("googleMap"), mapProp);
            }
        </script>

        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBuymChhXj6fbehlkw7v7UYa2bVXn82qT0&callback=myMap"></script>

    </body>
</html>